.as-login__main {
  min-height: 100vh;
}
.as-login__h3 {
  text-align: center;
}
.as-login__form {
  width: 25rem;
  padding: var(--sp-md) var(--sp-lg);
  border-radius: 5px;
  box-shadow: 0 0 2px var(--gray-900);
}
.as-login__form > * {
  padding: 5px 0;
}
.as-login__label {
  display: block;
}
.as-login__input {
  font-size: var(--fs-sm);
  padding: 5px 8px;
  margin-top: 5px;
  width: 100%;
}
.as-login__cb-label {
  margin-left: 5px;
}
.as-login__wrapper .as-login__a {
  color: var(--primary);
}
.as-login__btn {
  width: 100%;
  text-align: center;
}
.as-login__a {
  text-align: center;
  padding: var(--sp-xsm);
}
